@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  /* --color-primary: #6a6da9;
  --color-secondary: #a7aad7;
  --color-accent: #7074cd;
  --color-background: #f9f9fa;
  --color-text: #0e0e10; */

  --color-gitlab-primary: #e2432a;
  --color-gitlab-secondary: #fc6d27;
  --color-gitlab-accent-yellow: #fca326;
  --color-gitlab-accent-purple: #554488;
  --color-gitlab-background: #8c929d;

  --color-github-primary: #6e7781;
  --color-github-secondary: #2b3137;
  --color-github-accent: #2dba4e;
}

/* :root {
  --ui-primary: var(--color-primary);
  --ui-secondary: var(--color-secondary);
} */

/*body {*/
/*    background-color: var(--color-background);*/
/*}*/

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    /* color: #333; */
  }

  body,
  #__nuxt {
    width: 100%;
    height: 100%;
  }
}
